h1{
    text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  
}
body{
    background-color: rgb(224, 255, 254);
}
img{
   position: absolute;
    top: 50%;
    left: 50%;
}
.container{
    text-align: center;
    width: 500px;
}

h2{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    list-style-type: square;
}
ol{
    font-size: 25px;
}
ul{
    font-size: 25px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    padding: 10px;
}
p{
    font-size: 20px;
    text-align: center;
}